<!-- <!DOCTYPE html>
<html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="signin" method="post" action="/login" style=" display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: #333;
    color: white;">
        <label>Username</label>
        <input type="text" name="user">
        <label>Password</label>
        <input type="password" name="pass">
        <button type="submit" class="btn">Submit</button>
    </form>
</body>
